<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\TheLostFiles;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The lost files" puzzle.
 * @link https://www.codingame.com/ide/puzzle/the-lost-files
 */
class TheLostFiles implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $E);
        for ($i = 0; $i < $E; $i++)
        {
            fscanf($stdin, "%d %d", $n1, $n2);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("0 0\n");
    }
}
