<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\BankRobbers;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Bank robbers" puzzle.
 */
class BankRobbers implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $R);
        fscanf($stdin, "%d", $V);
        for ($i = 0; $i < $V; $i++)
        {
            fscanf($stdin, "%d %d", $C, $N);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("1\n");
    }
}
