fscanf($stdin, "%d", $N);
$xthenCommands = stream_get_line($stdin, 256 + 1, "\n");
for ($i = 0; $i < $N; $i++)
{
    $rthenRoadpattern = stream_get_line($stdin, 256 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");