<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\CaesarIsTheChief;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Caesar is the chief" puzzle.
 * @link https://www.codingame.com/ide/puzzle/caesar-is-the-chief
 */
class CaesarIsTheChief implements Puzzle
{
    public function execute($stdin): void
    {
        $textToDecode = stream_get_line($stdin, 101 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("DecodedText:string(101)\n");
    }
}
