<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\DuckHunt;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Duck hunt" puzzle.
 * @link https://www.codingame.com/ide/puzzle/duck-hunt
 */
class DuckHunt implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $w);
        fscanf($stdin, "%d", $h);
        for ($i = 0; $i < $h; $i++)
        {
            $row = stream_get_line($stdin, $w + 1, "\n");
        }
        for ($i = 0; $i < $h; $i++)
        {
            $row = stream_get_line($stdin, $w + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("ID x y\n");
    }
}
