<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\BinaryImage;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Binary image" puzzle.
 */
class BinaryImage implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $h);
        for ($i = 0; $i < $h; $i++)
        {
            $row = stream_get_line($stdin, 200 + 1, "\n");
        }
        for ($i = 0; $i < $h; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
