<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\OffsetArrays;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Offset Arrays" puzzle.
 */
class OffsetArrays implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            $assignment = stream_get_line($stdin, 1024 + 1, "\n");
        }
        $x = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("0\n");
    }
}
