<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\BracketsUltimateEdition;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Brackets, ultimate edition" puzzle.
 * @link https://www.codingame.com/ide/puzzle/brackets-ultimate-edition
 */
class BracketsUltimateEdition implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $expression = stream_get_line($stdin, 10000 + 1, "\n");
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("-1\n");
        }
    }
}
