<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\RobotReach;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Robot reach" puzzle.
 * @link https://www.codingame.com/ide/puzzle/robot-reach
 */
class RobotReach implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $R);
        fscanf($stdin, "%d", $C);
        fscanf($stdin, "%d", $T);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
