<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ByTrainOrByCar;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "By train or by car ?" puzzle.
 * @link https://www.codingame.com/ide/puzzle/by-train-or-by-car
 */
class ByTrainOrByCar implements Puzzle
{
    public function execute($stdin): void
    {
        $T = stream_get_line($stdin, 256 + 1, "\n");
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $FNAME = stream_get_line($stdin, 500 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
