<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\GreenValleys;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Green valleys" puzzle.
 * @link https://www.codingame.com/ide/puzzle/green-valleys
 */
class GreenValleys implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $H);
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $inputs = explode(" ", fgets($stdin));
            for ($j = 0; $j < $N; $j++)
            {
                $h = intval($inputs[$j]);
            }
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("ANSWER\n");
    }
}
