<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\AreTheClumpsNormal;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Are the clumps normal" puzzle.
 * @link https://www.codingame.com/ide/puzzle/are-the-clumps-normal
 */
class AreTheClumpsNormal implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Normal\n");
    }
}
