<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\HiddenMessagesInImages;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Hidden messages in images" puzzle.
 * @link https://www.codingame.com/ide/puzzle/hidden-messages-in-images
 */
class HiddenMessagesInImages implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $w, $h);
        for ($i = 0; $i < $h; $i++)
        {
            $inputs = explode(" ", fgets($stdin));
            for ($j = 0; $j < $w; $j++)
            {
                $pixel = intval($inputs[$j]);
            }
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
