<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\RearrangeStringToTwoNumbers;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Rearrange string to two numbers" puzzle.
 * @link https://www.codingame.com/ide/puzzle/rearrange-string-to-two-numbers
 */
class RearrangeStringToTwoNumbers implements Puzzle
{
    public function execute($stdin): void
    {
        $S = stream_get_line($stdin, 50 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("-1 -1\n");
    }
}
