<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\TheVoucher;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The voucher" puzzle.
 * @link https://www.codingame.com/ide/puzzle/the-voucher
 */
class TheVoucher implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $V);
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $FNAME = stream_get_line($stdin, 500 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
