<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\One0One0One;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "1010(1)" puzzle.
 * @link https://www.codingame.com/ide/puzzle/10101
 */
class One0One0One implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $W);
        fscanf($stdin, "%d", $H);
        for ($i = 0; $i < $H; $i++)
        {
            $ROW = stream_get_line($stdin, $W + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
