<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\OneDSpreadsheet;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "1D spreadsheet" puzzle.
 * @link https://www.codingame.com/ide/puzzle/1d-spreadsheet
 */
class OneDSpreadsheet implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s %s %s", $operation, $arg1, $arg2);
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("1\n");
        }
    }
}
