<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\CardsCastle;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Cards castle" puzzle.
 * @link https://www.codingame.com/ide/puzzle/cards-castle
 */
class CardsCastle implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $H);
        for ($i = 0; $i < $H; $i++)
        {
            $S = stream_get_line($stdin, 128 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("UNSTABLE\n");
    }
}
