<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\DieHandedness;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Die handedness" puzzle.
 */
class DieHandedness implements Puzzle
{
    public function execute($stdin): void
    {
        for ($i = 0; $i < 3; $i++)
        {
            $line = stream_get_line($stdin, 6 + 1, "\n");// One line out of three in the string describing the arrangement of the numbers.
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        // Output one of "right-handed", "left-handed" and "degenerate".
        echo("handedness\n");
    }
}
