<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\CountOfPrimesInANumberGrid;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Count of primes in a number grid" puzzle.
 * @link https://www.codingame.com/ide/puzzle/count-of-primes-in-a-number-grid
 */
class CountOfPrimesInANumberGrid implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $R, $C);
        for ($i = 0; $i < $R; $i++)
        {
            $row = stream_get_line($stdin, 128 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
