fscanf($stdin, "%d", $n);
for ($i = 0; $i < $n; $i++)
{
    fscanf($stdin, "%s", $aword);
}
fscanf($stdin, "%d %d", $h, $w);
for ($i = 0; $i < $h; $i++)
{
    fscanf($stdin, "%s", $line);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("word\n");