<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Medium\TelephoneNumbers;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Telephone numbers" puzzle.
 * @link https://www.codingame.com/ide/puzzle/telephone-numbers
 */
class TelephoneNumbers implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s", $telephone);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n


        // The number of elements (referencing a number) stored in the structure.
        echo("number\n");
    }
}
