alias ls='ls --color=auto -h --group-directories-first'
alias ll='ls -l'
alias la='ll -a'

alias cdtoproject='cd /var/www/'
alias phpunit='cdtoproject && ./tools/phpunit -c ./ci/phpunit.xml'
alias phpcbf='cdtoproject && ./tools/phpcbf --standard=PSR12 --extensions=php -p ./src/ ./tests/'
alias phpcs='cdtoproject && ./tools/phpcs --standard=PSR12 --extensions=php -p ./src/ ./tests/'
alias psalm='cdtoproject && ./tools/psalm -c ./ci/psalm.xml --report=./psalm/psalm.txt --output-format=text'
