/ci/infection/
/ci/phpunit/
/ci/psalm/
/ci/phpunit.xml
/src/**/*.*
!/src/Configuration/**/*.php
!/src/Generator/**/*.php
!/src/Parser/**/*.php
!/src/CGCodeInterface.php
/tests/**/*.*
!/tests/Configuration/**/*.*
!/tests/Generator/**/*.*
!/tests/Parser/**/*.*
!/tests/CGTestCase.php
/tools/
/var/cache/
/vendor/
/.ashrc
/.env
/docker-compose.override.yml
