<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Hard\Surface;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Surface" puzzle.
 */
class Surface implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $L);
        fscanf($stdin, "%d", $H);
        for ($i = 0; $i < $H; $i++)
        {
            $row = stream_get_line($stdin, $L + 1, "\n");
        }
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $X, $Y);
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
