<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ReverseMinesweeper;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Reverse Minesweeper" puzzle.
 * @link https://www.codingame.com/ide/puzzle/reverse-minesweeper
 */
class ReverseMinesweeper implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $w);
        fscanf($stdin, "%d", $h);
        for ($i = 0; $i < $h; $i++)
        {
            $line = stream_get_line($stdin, 100 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
