<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ACoinGuessingGame;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "A coin guessing game" puzzle.
 * @link https://www.codingame.com/ide/puzzle/a-coin-guessing-game
 */
class ACoinGuessingGame implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $N, $T);
        for ($i = 0; $i < $T; $i++)
        {
            $inputs = explode(" ", fgets($stdin));
            for ($j = 0; $j < $N; $j++)
            {
                $C = intval($inputs[$j]);
            }
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("2 4 6...\n");
    }
}
