<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ChainedMatrixProducts;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Chained matrix products" puzzle.
 * @link https://www.codingame.com/ide/puzzle/chained-matrix-products
 */
class ChainedMatrixProducts implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $row, $col);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
