<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\OneByOneByOneRubiksCubeMovements;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "1×1×1 rubik’s cube movements" puzzle.
 * @link https://www.codingame.com/ide/puzzle/111-rubiks-cube-movements
 */
class OneByOneByOneRubiksCubeMovements implements Puzzle
{
    public function execute($stdin): void
    {
        $rotations = stream_get_line($stdin, 100 + 1, "\n");
        $face1 = stream_get_line($stdin, 1 + 1, "\n");
        $face2 = stream_get_line($stdin, 1 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("face1\n");
        echo("face2\n");
    }
}
