<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\FlipTheSign;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Flip the sign" puzzle.
 * @link https://www.codingame.com/ide/puzzle/flip-the-sign
 */
class FlipTheSign implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $height, $width);
        for ($i = 0; $i < $height; $i++)
        {
            $line = stream_get_line($stdin, 1024 + 1, "\n");
        }
        for ($i = 0; $i < $height; $i++)
        {
            $line = stream_get_line($stdin, 1024 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("true/false\n");
    }
}
