fscanf($stdin, "%d", $N);
for ($i = 0; $i < $N; $i++)
{
    fscanf($stdin, "%d %s", $NUMPLAYER, $SIGNPLAYER);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("WHO IS THE WINNER?\n");