fscanf($stdin, "%d", $W);
fscanf($stdin, "%d", $H);
for ($i = 0; $i < $H; $i++)
{
    $inputs = explode(" ", fgets($stdin));
    for ($j = 0; $j < $W; $j++)
    {
        $v = intval($inputs[$j]);
    }
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("x y\n");