<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\MayTheTriforceBeWithYou;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "May the Triforce be with you!" puzzle.
 * @link https://www.codingame.com/ide/puzzle/may-the-triforce-be-with-you
 */
class MayTheTriforceBeWithYou implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
