<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\BlowingFuse;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Blowing fuse" puzzle.
 * @link https://www.codingame.com/ide/puzzle/blowing-fuse
 */
class BlowingFuse implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d %d", $n, $m, $c);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $n; $i++)
        {
            $nx = intval($inputs[$i]);
        }
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $m; $i++)
        {
            $mx = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Fuse was not blown.\n");
        echo("Maximal consumed current was XX A.\n");
    }
}
