<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\BouncingBarry;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Bouncing barry" puzzle.
 * @link https://www.codingame.com/ide/puzzle/bouncing-barry
 */
class BouncingBarry implements Puzzle
{
    public function execute($stdin): void
    {
        $directions = stream_get_line($stdin, 1023 + 1, "\n");
        $bounces = stream_get_line($stdin, 1023 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("grid\n");
    }
}
