<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\GeneticsAndComputersPart1;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Genetics and computers - part 1" puzzle.
 * @link https://www.codingame.com/ide/puzzle/genetics-and-computers---part-1
 */
class GeneticsAndComputersPart1 implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s %s", $parent1, $parent2);
        $ratio = stream_get_line($stdin, 50 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Genotypic Ratio\n");
    }
}
