<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\LevelOfNestedParentheses;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Level of nested parentheses" puzzle.
 * @link https://www.codingame.com/ide/puzzle/level-of-nested-parentheses
 */
class LevelOfNestedParentheses implements Puzzle
{
    public function execute($stdin): void
    {
        $f = stream_get_line($stdin, 100 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("solution\n");
    }
}
