<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\DynamicSorting;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Dynamic sorting" puzzle.
 * @link https://www.codingame.com/ide/puzzle/dynamic-sorting
 */
class DynamicSorting implements Puzzle
{
    public function execute($stdin): void
    {
        $expression = stream_get_line($stdin, 256 + 1, "\n");
        $types = stream_get_line($stdin, 256 + 1, "\n");
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $ROW = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
