<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\BulgarianSolitaire;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Bulgarian solitaire" puzzle.
 * @link https://www.codingame.com/ide/puzzle/bulgarian-solitaire
 */
class BulgarianSolitaire implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $N; $i++)
        {
            $C = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("1\n");
    }
}
