<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\EquivalentResistanceCircuitBuilding;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Equivalent resistance, circuit building" puzzle.
 * @link https://www.codingame.com/ide/puzzle/equivalent-resistance-circuit-building
 */
class EquivalentResistanceCircuitBuilding implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s %d", $name, $R);
        }
        $circuit = stream_get_line($stdin, 120 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Equivalent Resistance\n");
    }
}
