<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\InStereo;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "In stereo" puzzle.
 * @link https://www.codingame.com/ide/puzzle/in-stereo
 */
class InStereo implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $P);
        $pattern = stream_get_line($stdin, $P + 1, "\n");
        fscanf($stdin, "%d", $S);
        $stock = stream_get_line($stdin, $S + 1, "\n");
        fscanf($stdin, "%d %d", $H, $W);
        for ($i = 0; $i < $H; $i++)
        {
            $depthmap = stream_get_line($stdin, $W + 1, "\n");
        }
        for ($i = 0; $i < $H; $i++)
        {
            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
