<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\Trits;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Trits (balanced ternary computing)" puzzle.
 * @link https://www.codingame.com/ide/puzzle/trits-balanced-ternary-computing
 */
class Trits implements Puzzle
{
    public function execute($stdin): void
    {
        $lhs = stream_get_line($stdin, 10 + 1, "\n");
        $op = stream_get_line($stdin, 5 + 1, "\n");
        $rhs = stream_get_line($stdin, 10 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("11T\n");
    }
}
