<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\SandpileAddition;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Sandpile addition" puzzle.
 * @link https://www.codingame.com/ide/puzzle/sandpile-addition
 */
class SandpileAddition implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            $row = stream_get_line($stdin, 12 + 1, "\n");
        }
        for ($i = 0; $i < $n; $i++)
        {
            $row = stream_get_line($stdin, 12 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
