<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\PersonalBest;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Personal best" puzzle.
 * @link https://www.codingame.com/ide/puzzle/personal-best
 */
class PersonalBest implements Puzzle
{
    public function execute($stdin): void
    {
        $gymnasts = stream_get_line($stdin, 256 + 1, "\n");
        $categories = stream_get_line($stdin, 32 + 1, "\n");
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $row = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("0.00\n");
    }
}
