<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\GraffitiOnTheFence;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Graffiti on the fence" puzzle.
 * @link https://www.codingame.com/ide/puzzle/graffiti-on-the-fence
 */
class GraffitiOnTheFence implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $L);
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $st, $ed);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
