fscanf($stdin, "%d", $rows);
for ($i = 0; $i < $rows; $i++)
{
    $row = stream_get_line($stdin, 100 + 1, "\n");
}
$message = stream_get_line($stdin, 100 + 1, "\n");

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("encode message\n");