<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SimpleAwale;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Simple awalé" puzzle.
 * @link https://www.codingame.com/ide/puzzle/simple-awale
 */
class SimpleAwale implements Puzzle
{
    public function execute($stdin): void
    {
        $opBowls = stream_get_line($stdin, 100 + 1, "\n");
        $myBowls = stream_get_line($stdin, 100 + 1, "\n");
        fscanf($stdin, "%d", $num);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
