<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\EqualizingArrays;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Equalizing arrays" puzzle.
 * @link https://www.codingame.com/ide/puzzle/equalizing-arrays
 */
class EqualizingArrays implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $N; $i++)
        {
            $a = intval($inputs[$i]);
        }
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $N; $i++)
        {
            $b = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
