<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\Crossword;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Crossword" puzzle.
 * @link https://www.codingame.com/ide/puzzle/crossword
 */
class Crossword implements Puzzle
{
    public function execute($stdin): void
    {
        $H1 = stream_get_line($stdin, 256 + 1, "\n");
        $H2 = stream_get_line($stdin, 256 + 1, "\n");
        $V1 = stream_get_line($stdin, 256 + 1, "\n");
        $V2 = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
