<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Medium\ConwaySequence;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Conway sequence" puzzle.
 */
class ConwaySequence implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $R);
        fscanf($stdin, "%d", $L);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
