<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\FunWithSetTheory;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Fun with set theory" puzzle.
 * @link https://www.codingame.com/ide/puzzle/fun-with-set-theory
 */
class FunWithSetTheory implements Puzzle
{
    public function execute($stdin): void
    {
        $INPUT = stream_get_line($stdin, 99 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
