<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\DetectiveGeek;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Detective geek" puzzle.
 * @link https://www.codingame.com/ide/puzzle/detective-geek
 */
class DetectiveGeek implements Puzzle
{
    public function execute($stdin): void
    {
        $time = stream_get_line($stdin, 32 + 1, "\n");
        $address = stream_get_line($stdin, 2048 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
