<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\TheRiverII;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The river II" puzzle.
 */
class TheRiverII implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $r1);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("YES|NO\n");
    }
}
