<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ISBNCheckDigit;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "ISBN check digit" puzzle.
 * @link https://www.codingame.com/ide/puzzle/isbn-check-digit
 */
class ISBNCheckDigit implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $ISBN = stream_get_line($stdin, 20 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
