<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\CosmicLove;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Cosmic love" puzzle.
 * @link https://www.codingame.com/ide/puzzle/cosmic-love
 */
class CosmicLove implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s %s %s %s", $name, $r, $m, $c);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
