<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\HowTimeFlies;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "How time flies" puzzle.
 * @link https://www.codingame.com/ide/puzzle/how-time-flies
 */
class HowTimeFlies implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s", $BEGIN);
        fscanf($stdin, "%s", $END);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("YY year[s], MM month[s], total NN days\n");
    }
}
