<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ReversedLookAndSay;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Reversed look-and-say" puzzle.
 * @link https://www.codingame.com/ide/puzzle/reversed-look-and-say
 */
class ReversedLookAndSay implements Puzzle
{
    public function execute($stdin): void
    {
        $s = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
