<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ObjectInsertion;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Object insertion" puzzle.
 * @link https://www.codingame.com/ide/puzzle/object-insertion
 */
class ObjectInsertion implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $a, $b);
        for ($i = 0; $i < $a; $i++)
        {
            $objectLine = stream_get_line($stdin, $b + 1, "\n");
        }
        fscanf($stdin, "%d %d", $c, $d);
        for ($i = 0; $i < $c; $i++)
        {
            $gridLine = stream_get_line($stdin, $d + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
