<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\MCxxxxMicrocontrollerSimulation;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "MCxxxx microcontroller simulation" puzzle.
 * @link https://www.codingame.com/ide/puzzle/mcxxxx-microcontroller-simulation
 */
class MCxxxxMicrocontrollerSimulation implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $k);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $k; $i++)
        {
            $inputData = intval($inputs[$i]);
        }
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            $lineOfCode = stream_get_line($stdin, 100 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("output data\n");
    }
}
