<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\HorseHyperracingHyperduals;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Horse-hyperracing hyperduals" puzzle.
 * @link https://www.codingame.com/ide/puzzle/horse-hyperracing-hyperduals
 */
class HorseHyperracingHyperduals implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d %d", $N, $M, $X);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $V, $E);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("42\n");
    }
}
