<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\BullsAndCows;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Bulls and cows" puzzle.
 * @link https://www.codingame.com/ide/puzzle/bulls-and-cows
 */
class BullsAndCows implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s %d %d", $guess, $bulls, $cows);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
