<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\FaxMachine;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Fax machine" puzzle.
 * @link https://www.codingame.com/ide/puzzle/fax-machine
 */
class FaxMachine implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $W);
        fscanf($stdin, "%d", $H);
        $T = stream_get_line($stdin, 1024 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n
        // To debug: error_log(var_export($var, true)); (equivalent to var_dump)

        echo("|********|\n");
        echo("|**      |\n");
        echo("|    ****|\n");
    }
}
