<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ParseSQLQueries;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Parse SQL queries" puzzle.
 * @link https://www.codingame.com/ide/puzzle/parse-sql-queries
 */
class ParseSQLQueries implements Puzzle
{
    public function execute($stdin): void
    {
        $sqlQuery = stream_get_line($stdin, 256 + 1, "\n");
        fscanf($stdin, "%d", $ROWS);
        $tableHeader = stream_get_line($stdin, 256 + 1, "\n");
        for ($i = 0; $i < $ROWS; $i++)
        {
            $tableRow = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("outputTableWithColumnTitlesNoRowIndexes\n");
    }
}
