<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\MinesweeperLevelGenerator;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Minesweeper level generator" puzzle.
 * @link https://www.codingame.com/ide/puzzle/minesweeper-level-generator
 */
class MinesweeperLevelGenerator implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d %d %d %d %d", $width, $height, $mines, $x, $y, $seed);
        for ($i = 0; $i < $height; $i++)
        {
            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("row\n");
        }
    }
}
