<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\WineFromKalbodiaEpisode1;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Wine from Kalbodia - episode 1" puzzle.
 * @link https://www.codingame.com/ide/puzzle/wine-from-kalbodia---episode-1
 */
class WineFromKalbodiaEpisode1 implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $request = stream_get_line($stdin, 100 + 1, "\n");
        }
        for ($i = 0; $i < $N; $i++)
        {
            $crate = stream_get_line($stdin, 100 + 1, "\n");
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
