<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\Buzzle;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Buzzle" puzzle.
 * @link https://www.codingame.com/ide/puzzle/buzzle
 */
class Buzzle implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d %d", $n, $a, $b);
        fscanf($stdin, "%d", $k);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $k; $i++)
        {
            $num = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Buzzle\n");
    }
}
