<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\KillerSudokuSolver;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Killer sudoku solver" puzzle.
 * @link https://www.codingame.com/ide/puzzle/killer-sudoku-solver
 */
class KillerSudokuSolver implements Puzzle
{
    public function execute($stdin): void
    {
        for ($i = 0; $i < 9; $i++)
        {
            fscanf($stdin, "%s %s", $gridLine, $gridCages);
        }
        $cages = stream_get_line($stdin, 250 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("solution\n");
    }
}
