<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\LangtonsAnt;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Langton's ant" puzzle.
 * @link https://www.codingame.com/ide/puzzle/langtons-ant
 */
class LangtonsAnt implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $W, $H);
        fscanf($stdin, "%d %d", $x, $y);
        fscanf($stdin, "%s", $direction);
        fscanf($stdin, "%d", $T);
        for ($i = 0; $i < $H; $i++)
        {
            $C = stream_get_line($stdin, 30 + 1, "\n");
        }
        for ($i = 0; $i < $H; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
