<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SubstitutionEncoding;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Substitution encoding" puzzle.
 * @link https://www.codingame.com/ide/puzzle/substitution-encoding
 */
class SubstitutionEncoding implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $rows);
        for ($i = 0; $i < $rows; $i++)
        {
            $row = stream_get_line($stdin, 100 + 1, "\n");
        }
        $message = stream_get_line($stdin, 100 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("encode message\n");
    }
}
