$row1 = stream_get_line($stdin, 5 + 1, "\n");
$row2 = stream_get_line($stdin, 5 + 1, "\n");
$row3 = stream_get_line($stdin, 5 + 1, "\n");
$allButtonsPressed = stream_get_line($stdin, 100 + 1, "\n");

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer (a single digit)\n");