<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\LongestIncreasingSubsequence;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Longest increasing subsequence" puzzle.
 * @link https://www.codingame.com/ide/puzzle/longest-increasing-subsequence
 */
class LongestIncreasingSubsequence implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            fscanf($stdin, "%d", $p);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
