<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\FairNumbering;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Fair numbering" puzzle.
 * @link https://www.codingame.com/ide/puzzle/fair-numbering
 */
class FairNumbering implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $st, $ed);
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
