<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\DigitSumSuccessor;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Digit sum successor" puzzle.
 * @link https://www.codingame.com/ide/puzzle/digit-sum-successor
 */
class DigitSumSuccessor implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("11\n");
    }
}
