<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\LargestNumber;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Largest number" puzzle.
 * @link https://www.codingame.com/ide/puzzle/largest-number
 */
class LargestNumber implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $number);
        fscanf($stdin, "%d", $D);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
