<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ExtendedHammingCodes;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Extended hamming codes" puzzle.
 * @link https://www.codingame.com/ide/puzzle/extended-hamming-codes
 */
class ExtendedHammingCodes implements Puzzle
{
    public function execute($stdin): void
    {
        $bits = stream_get_line($stdin, 16 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("corrected_message\n");
    }
}
