<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\Gravity;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Gravity" puzzle.
 * @link https://www.codingame.com/ide/puzzle/gravity
 */
class Gravity implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $width, $height);
        for ($i = 0; $i < $height; $i++)
        {
            fscanf($stdin, "%s", $line);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
