<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\TheUrinalProblem;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The urinal problem" puzzle.
 * @link https://www.codingame.com/ide/puzzle/the-urinal-problem
 */
class TheUrinalProblem implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        $B = stream_get_line($stdin, 100 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("0\n");
    }
}
