<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\JoinTheDots;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Join the dots" puzzle.
 * @link https://www.codingame.com/ide/puzzle/join-the-dots
 */
class JoinTheDots implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $H, $W);
        for ($i = 0; $i < $H; $i++)
        {
            $row = stream_get_line($stdin, $W + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("o--------oo--------o\n");
        echo("|        ||        |\n");
        echo("| o------o| o------o\n");
        echo("| |       | |\n");
        echo("| |       | |   o--o\n");
        echo("| |       | |   |  |\n");
        echo("| |       | |   |  |\n");
        echo("| o------o| o---o  |\n");
        echo("|         o        |\n");
        echo("o------------------o\n");
    }
}
