<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ValidBracketsInCode;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Valid brackets in code" puzzle.
 * @link https://www.codingame.com/ide/puzzle/valid-brackets-in-code
 */
class ValidBracketsInCode implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            $line = stream_get_line($stdin, 100 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Valid, Invalid or No brackets\n");
    }
}
