<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Expert\TheResistance;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The resistance" puzzle.
 */
class TheResistance implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s", $L);
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s", $W);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
