<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\SolidInteger;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Solid integer" puzzle.
 * @link https://www.codingame.com/ide/puzzle/solid-integer
 */
class SolidInteger implements Puzzle
{
    public function execute($stdin): void
    {
        $n = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("nth_solid\n");
    }
}
