fscanf($stdin, "%d %d", $W, $H);
fscanf($stdin, "%d %d", $X, $Y);
for ($i = 0; $i < $H; $i++)
{
    $R = stream_get_line($stdin, 24 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");