<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\TreePaths;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Tree paths" puzzle.
 * @link https://www.codingame.com/ide/puzzle/tree-paths
 */
class TreePaths implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        fscanf($stdin, "%d", $V);
        fscanf($stdin, "%d", $M);
        for ($i = 0; $i < $M; $i++)
        {
            fscanf($stdin, "%d %d %d", $P, $L, $R);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("tree_path\n");
    }
}
