fscanf($stdin, "%d", $size);
fscanf($stdin, "%d", $angle);
for ($i = 0; $i < $size; $i++)
{
    $line = stream_get_line($stdin, 1024 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");