<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\QueneauNumbers;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Queneau numbers" puzzle.
 * @link https://www.codingame.com/ide/puzzle/queneau-numbers
 */
class QueneauNumbers implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("IMPOSSIBLE\n");
    }
}
