<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ASCIIArtGlassStacking;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "ASCII ART : glass stacking" puzzle.
 * @link https://www.codingame.com/ide/puzzle/ascii-art-glass-stacking
 */
class ASCIIArtGlassStacking implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
