<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\NatureOfQuadrilaterals;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Nature of quadrilaterals" puzzle.
 * @link https://www.codingame.com/ide/puzzle/nature-of-quadrilaterals
 */
class NatureOfQuadrilaterals implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            fscanf($stdin, "%s %d %d %s %d %d %s %d %d %s %d %d", $A, $xA, $yA, $B, $xB, $yB, $C, $xC, $yC, $D, $xD, $yD);
        }
        for ($i = 0; $i < $n; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
