<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\TheBrokenEditor;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The broken editor" puzzle.
 * @link https://www.codingame.com/ide/puzzle/the-broken-editor
 */
class TheBrokenEditor implements Puzzle
{
    public function execute($stdin): void
    {
        $typedKeys = stream_get_line($stdin, 80 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("computed text\n");
    }
}
