fscanf($stdin, "%d", $SIZE);
fscanf($stdin, "%d", $N);
for ($i = 0; $i < $N; $i++)
{
    $name = stream_get_line($stdin, 100 + 1, "\n");
}
fscanf($stdin, "%d", $T);
for ($i = 0; $i < $T; $i++)
{
    fscanf($stdin, "%s %d %d", $throwName, $throwX, $throwY);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");