<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\OneBillionDWorld;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "1000000000D world" puzzle.
 */
class OneBillionDWorld implements Puzzle
{
    public function execute($stdin): void
    {
        $a = stream_get_line($stdin, 1000 + 1, "\n");
        $b = stream_get_line($stdin, 1000 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("a DOT b\n");
    }
}
