fscanf($stdin, "%d", $N);
for ($i = 0; $i < $N; $i++)
{
    $expression = stream_get_line($stdin, 10000 + 1, "\n");
}
for ($i = 0; $i < $N; $i++)
{

    // Write an answer using echo(). DON'T FORGET THE TRAILING \n

    echo("-1\n");
}