<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\TwoByTwoByTwoRubiksCubeMovements;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "2×2×2 rubik’s cube movements" puzzle.
 * @link https://www.codingame.com/ide/puzzle/222-rubiks-cube-movements
 */
class TwoByTwoByTwoRubiksCubeMovements implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s", $move);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
