fscanf($stdin, "%s", $rookPosition);
fscanf($stdin, "%d", $nbPieces);
for ($i = 0; $i < $nbPieces; $i++)
{
    fscanf($stdin, "%d %s", $colour, $onePiece);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("ANSWER\n");