<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\RetroTypewriterArt;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Retro typewriter art" puzzle.
 * @link https://www.codingame.com/ide/puzzle/retro-typewriter-art
 */
class RetroTypewriterArt implements Puzzle
{
    public function execute($stdin): void
    {
        $T = stream_get_line($stdin, 1000 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
