fscanf($stdin, "%d %d", $W, $H);
fscanf($stdin, "%d %d", $x, $y);
for ($i = 0; $i < $H; $i++)
{
    // $line: The line of w arrows represented by ascii char ^v<>
    fscanf($stdin, "%s", $line);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("0\n");