<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Medium\BlunderEpisode1;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Blunder - episode 1" puzzle.
 * @link https://www.codingame.com/ide/puzzle/blunder-episode-1
 */
class BlunderEpisode1 implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $L, $C);
        for ($i = 0; $i < $L; $i++)
        {
            $row = stream_get_line($stdin, 101 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n
        // To debug: error_log(var_export($var, true)); (equivalent to var_dump)

        echo("answer\n");
    }
}
