<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\MinimaxExercise;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Minimax exercise" puzzle.
 * @link https://www.codingame.com/ide/puzzle/minimax-exercise
 */
class MinimaxExercise implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $D, $B);
        $LEAFS = stream_get_line($stdin, 40000 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("0 0\n");
    }
}
