<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\PalindromicDecomposition;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Palindromic decomposition" puzzle.
 * @link https://www.codingame.com/ide/puzzle/palindromic-decomposition
 */
class PalindromicDecomposition implements Puzzle
{
    public function execute($stdin): void
    {
        $S = stream_get_line($stdin, 4000 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
