fscanf($stdin, "%d", $width);
fscanf($stdin, "%d", $height);
fscanf($stdin, "%d", $length);
for ($i = 0; $i < $height; $i++)
{
    $line = stream_get_line($stdin, 999 + 1, "\n");
}
for ($i = 0; $i < $height; $i++)
{
    $line = stream_get_line($stdin, 999 + 1, "\n");
}
for ($i = 0; $i < $length; $i++)
{
    $line = stream_get_line($stdin, 999 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");