$operation = stream_get_line($stdin, 256 + 1, "\n");
fscanf($stdin, "%d", $pseudoRandomNumber);
for ($i = 0; $i < 3; $i++)
{
    $rotor = stream_get_line($stdin, 27 + 1, "\n");
}
$message = stream_get_line($stdin, 1024 + 1, "\n");

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("message\n");