<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\MaximumSubSequence;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Maximum sub-sequence" puzzle.
 * @link https://www.codingame.com/ide/puzzle/maximum-sub-sequence
 */
class MaximumSubSequence implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $N; $i++)
        {
            $l = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("1 2 3 4 5\n");
    }
}
