fscanf($stdin, "%d", $N);
fscanf($stdin, "%d", $M);
fscanf($stdin, "%d", $L);
for ($i = 0; $i < $N; $i++)
{
    fscanf($stdin, "%d %d", $XS, $YS);
}
for ($i = 0; $i < $M; $i++)
{
    fscanf($stdin, "%d %d", $XO, $YO);
}
for ($i = 0; $i < $L; $i++)
{
    fscanf($stdin, "%d %d", $N1, $N2);
}
fscanf($stdin, "%d", $S);
fscanf($stdin, "%d", $E);

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("path\n");