<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\DolbearsLaw;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Dolbear's law" puzzle.
 * @link https://www.codingame.com/ide/puzzle/dolbears-law
 */
class DolbearsLaw implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $M);
        for ($i = 0; $i < $M; $i++)
        {
            $LINE = stream_get_line($stdin, 44 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
