<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\Smooth;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Smooth!" puzzle.
 * @link https://www.codingame.com/ide/puzzle/smooth
 */
class Smooth implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d", $F);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("DEFEAT\n");
    }
}
