<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\ProbabilityForDummies;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Probability for dummies" puzzle.
 * @link https://www.codingame.com/ide/puzzle/probability-for-dummies
 */
class ProbabilityForDummies implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $m);
        fscanf($stdin, "%d", $n);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("probability\n");
    }
}
