<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Hard\Winamax;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Winamax" puzzle.
 */
class Winamax implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $width, $height);
        for ($i = 0; $i < $height; $i++)
        {
            fscanf($stdin, "%s", $row);
        }
    }
}
