<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\TheRiverI;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "The river I" puzzle.
 */
class TheRiverI implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $r1);
        fscanf($stdin, "%d", $r2);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("42\n");
    }
}
