<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SevenSegmentScanner;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "7-segment scanner" puzzle.
 * @link https://www.codingame.com/ide/puzzle/7-segment-scanner
 */
class SevenSegmentScanner implements Puzzle
{
    public function execute($stdin): void
    {
        $line1 = stream_get_line($stdin, 900 + 1, "\n");
        $line2 = stream_get_line($stdin, 900 + 1, "\n");
        $line3 = stream_get_line($stdin, 900 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("number\n");
    }
}
