<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\BodyWeightIsAGirlsSecret;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Body weight is a girl's secret" puzzle.
 * @link https://www.codingame.com/ide/puzzle/body-weight-is-a-girls-secret
 */
class BodyWeightIsAGirlsSecret implements Puzzle
{
    public function execute($stdin): void
    {
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < 10; $i++)
        {
            $w = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
