<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\EllipticCurveCryptography;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Elliptic curve cryptography" puzzle.
 * @link https://www.codingame.com/ide/puzzle/elliptic-curve-cryptography
 */
class EllipticCurveCryptography implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $k = stream_get_line($stdin, 150 + 1, "\n");
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
