<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\ConsecutiveBalancedSubstrings;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Consecutive balanced substrings" puzzle.
 * @link https://www.codingame.com/ide/puzzle/consecutive-balanced-substrings
 */
class ConsecutiveBalancedSubstrings implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        $s = stream_get_line($stdin, $n + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
