<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\PavingWithBricks;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Paving with bricks" puzzle.
 * @link https://www.codingame.com/ide/puzzle/paving-with-bricks
 */
class PavingWithBricks implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $W);
        fscanf($stdin, "%d", $H);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
