<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\FindTheMissingPlusSignsInAddition;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Find the missing plus signs in addition" puzzle.
 * @link https://www.codingame.com/ide/puzzle/find-the-missing-plus-signs-in-addition
 */
class FindTheMissingPlusSignsInAddition implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        fscanf($stdin, "%d", $S);
        $O = stream_get_line($stdin, 100 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("No solution or recovered addition(s)\n");
    }
}
