<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\GravityTumbler;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Gravity tumbler" puzzle.
 * @link https://www.codingame.com/ide/puzzle/gravity-tumbler
 */
class GravityTumbler implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $width, $height);
        fscanf($stdin, "%d", $count);
        for ($i = 0; $i < $height; $i++)
        {
            $raster = stream_get_line($stdin, $width + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("...\n");
        echo("write ###\n");
    }
}
