<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\SimplifiedMonopolyTurnsPrediction;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Simplified Monopoly™ turns prediction" puzzle.
 * @link https://www.codingame.com/ide/puzzle/simplified-monopoly-turns-prediction
 */
class SimplifiedMonopolyTurnsPrediction implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $P);
        for ($i = 0; $i < $P; $i++)
        {
            $player = stream_get_line($stdin, 256 + 1, "\n");
        }
        fscanf($stdin, "%d", $D);
        for ($i = 0; $i < $D; $i++)
        {
            $dice = stream_get_line($stdin, 256 + 1, "\n");
        }
        for ($i = 0; $i < 40; $i++)
        {
            $boardline = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
