<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\MinimalNumberOfSwaps;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Minimal number of swaps" puzzle.
 * @link https://www.codingame.com/ide/puzzle/minimal-number-of-swaps
 */
class MinimalNumberOfSwaps implements Puzzle
{
    public function execute($stdin): void
    {
        ffscanf($stdin, "%d", $n);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $n; $i++)
        {
            $x = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
