<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\IPv6Shortener;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "IPv6 shortener" puzzle.
 * @link https://www.codingame.com/ide/puzzle/ipv6-shortener
 */
class IPv6Shortener implements Puzzle
{
    public function execute($stdin): void
    {
        $ip = stream_get_line($stdin, 40 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("output\n");
    }
}
