<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\RiverCrossing;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "River crossing" puzzle.
 * @link https://www.codingame.com/ide/puzzle/river-crossing
 */
class RiverCrossing implements Puzzle
{
    public function execute($stdin): void
    {
        $INITIAL = stream_get_line($stdin, 10 + 1, "\n");
        $TARGET = stream_get_line($stdin, 10 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("L L L L\n");
        echo("R L R L\n");
    }
}
