<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Hard\TANNetwork;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "TAN network" puzzle.
 * @link https://www.codingame.com/ide/puzzle/tan-network
 */
class TANNetwork implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%s", $startPoint);
        fscanf($stdin, "%s", $endPoint);
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $stopName = stream_get_line($stdin, 256 + 1, "\n");
        }
        fscanf($stdin, "%d", $M);
        for ($i = 0; $i < $M; $i++)
        {
            $route = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("IMPOSSIBLE\n");
    }
}
