<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\PlagueJr;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Plague, jr" puzzle.
 * @link https://www.codingame.com/ide/puzzle/plague-jr
 */
class PlagueJr implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d", $A, $B);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("42\n");
    }
}
