<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\MondayTuesdayHappyDays;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Monday tuesday happy days" puzzle.
 * @link https://www.codingame.com/ide/puzzle/monday-tuesday-happy-days
 */
class MondayTuesdayHappyDays implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $leapYear);
        fscanf($stdin, "%s %s %d", $sourceDayOfWeek, $sourceMonth, $sourceDayOfMonth);
        fscanf($stdin, "%s %d", $targetMonth, $targetDayOfMonth);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("day of week\n");
    }
}
