<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Training\Hard\GenomeSequencing;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Genome sequencing" puzzle.
 */
class GenomeSequencing implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%s", $subseq);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
