<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\EntryCode;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Entry code" puzzle.
 * @link https://www.codingame.com/ide/puzzle/entry-code
 */
class EntryCode implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $x);
        fscanf($stdin, "%d", $n);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
