<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\DerivativeTimePart1;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Derivative time !!! - part1" puzzle.
 * @link https://www.codingame.com/ide/puzzle/derivative-time---part1
 */
class DerivativeTimePart1 implements Puzzle
{
    public function execute($stdin): void
    {
        $F = stream_get_line($stdin, 256 + 1, "\n");
        $vs = stream_get_line($stdin, 256 + 1, "\n");
        $dict = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
