fscanf($stdin, "%d", $ROUNDS);
fscanf($stdin, "%d", $CASH);
for ($i = 0; $i < $ROUNDS; $i++)
{
    $PLAY = stream_get_line($stdin, 1024 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("cash of the target after playing\n");