<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\AncestorsAndDescendants;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Ancestors & descendants" puzzle.
 * @link https://www.codingame.com/ide/puzzle/ancestors-descendants
 */
class AncestorsAndDescendants implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $count);
        for ($i = 0; $i < $count; $i++)
        {
            $line = stream_get_line($stdin, 1024 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
