<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\WaysToMakeChange;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Ways to make change" puzzle.
 * @link https://www.codingame.com/ide/puzzle/ways-to-make-change
 */
class WaysToMakeChange implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        fscanf($stdin, "%d", $S);
        $inputs = explode(" ", fgets($stdin));
        for ($i = 0; $i < $S; $i++)
        {
            $vi = intval($inputs[$i]);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
