<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\UnitFractions;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Unit fractions" puzzle.
 * @link https://www.codingame.com/ide/puzzle/unit-fractions
 */
class UnitFractions implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("1/n = 1/x + 1/y\n");
    }
}
