<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\KissTheGirls;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Kiss the girls" puzzle.
 * @link https://www.codingame.com/ide/puzzle/kiss-the-girls
 */
class KissTheGirls implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $H, $W);
        for ($i = 0; $i < $H; $i++)
        {
            $line = stream_get_line($stdin, 256 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("max_girls\n");
    }
}
