fscanf($stdin, "%d %d", $N, $T);
for ($i = 0; $i < $T; $i++)
{
    $inputs = explode(" ", fgets($stdin));
    for ($j = 0; $j < $N; $j++)
    {
        $C = intval($inputs[$j]);
    }
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("2 4 6...\n");