fscanf($stdin, "%d", $C);
for ($i = 0; $i < $C; $i++)
{
    $WIRING = stream_get_line($stdin, 1024 + 1, "\n");
}
fscanf($stdin, "%d", $A);
for ($i = 0; $i < $A; $i++)
{
    $SWITCH = stream_get_line($stdin, 20 + 1, "\n");
}
for ($i = 0; $i < $C; $i++)
{

    // Write an answer using echo(). DON'T FORGET THE TRAILING \n

    echo("ANSWER\n");
}