<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\Lumen;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Lumen" puzzle.
 * @link https://www.codingame.com/ide/puzzle/lumen
 */
class Lumen implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        fscanf($stdin, "%d", $L);
        for ($i = 0; $i < $N; $i++)
        {
            $inputs = explode(" ", fgets($stdin));
            for ($j = 0; $j < $N; $j++)
            {
                $cell = ($inputs[$j]);
            }
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("2\n");
    }
}
