<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\NumeralSystem;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Numeral system" puzzle.
 * @link https://www.codingame.com/ide/puzzle/numeral-system
 */
class NumeralSystem implements Puzzle
{
    public function execute($stdin): void
    {
        $equality = stream_get_line($stdin, 100 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
