<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SumOfSpiralsDiagonals;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Sum of spiral's diagonals" puzzle.
 * @link https://www.codingame.com/ide/puzzle/sum-of-spirals-diagonals
 */
class SumOfSpiralsDiagonals implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
