<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\LowResolutionWhatsTheShape;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Low resolution: what's the shape?" puzzle.
 * @link https://www.codingame.com/ide/puzzle/low-resolution-whats-the-shape
 */
class LowResolutionWhatsTheShape implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $W, $H);
        for ($i = 0; $i < $H; $i++)
        {
            $row = stream_get_line($stdin, 11 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Rectangle/Triangle/Ellipse\n");
    }
}
