<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\OneWayCity;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "OneWay city" puzzle.
 * @link https://www.codingame.com/ide/puzzle/oneway-city
 */
class OneWayCity implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $M);
        fscanf($stdin, "%d", $N);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
