<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\NextCarLicensePlate;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Next car license plate ?" puzzle.
 * @link https://www.codingame.com/ide/puzzle/next-car-license-plate
 */
class NextCarLicensePlate implements Puzzle
{
    public function execute($stdin): void
    {
        $x = stream_get_line($stdin, 9 + 1, "\n");
        fscanf($stdin, "%d", $n);

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("AA-000-AA\n");
    }
}
