<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\LockedInGear;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Locked in gear" puzzle.
 * @link https://www.codingame.com/ide/puzzle/locked-in-gear
 */
class LockedInGear implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            fscanf($stdin, "%d %d %d", $x, $y, $r);
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("CW\n");
    }
}
