<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\GhostLegs;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Ghost legs" puzzle.
 */
class GhostLegs implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $W, $H);
        for ($i = 0; $i < $H; $i++)
        {
            $line = stream_get_line($stdin, 1024 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
