<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\SuguruSolver;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Suguru solver" puzzle.
 * @link https://www.codingame.com/ide/puzzle/suguru-solver
 */
class SuguruSolver implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d", $w, $h);
        for ($i = 0; $i < $h; $i++)
        {
            $line = stream_get_line($stdin, 59 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
