<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SomeonesActingSus;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Someone's acting sus...." puzzle.
 * @link https://www.codingame.com/ide/puzzle/someones-acting-sus----
 */
class SomeonesActingSus implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $L);
        $F = stream_get_line($stdin, $L + 1, "\n");
        fscanf($stdin, "%d %d", $N, $K);
        for ($i = 0; $i < $N; $i++)
        {
            $crewmate = stream_get_line($stdin, $K + 1, "\n");
        }
        for ($i = 0; $i < $N; $i++)
        {

            // Write an answer using echo(). DON'T FORGET THE TRAILING \n

            echo("answer\n");
        }
    }
}
