fscanf($stdin, "%d", $N);
for ($i = 0; $i < $N; $i++)
{
    $GAME = stream_get_line($stdin, 64 + 1, "\n");
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("5 13 18 26 31 32 34 40 47 54\n");