<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\FaroShuffle;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Faro shuffle" puzzle.
 * @link https://www.codingame.com/ide/puzzle/faro-shuffle
 */
class FaroShuffle implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        $deck = stream_get_line($stdin, 256 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
