<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SurveyPrediction;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Survey prediction" puzzle.
 * @link https://www.codingame.com/ide/puzzle/survey-prediction
 */
class SurveyPrediction implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $n);
        for ($i = 0; $i < $n; $i++)
        {
            $answer = stream_get_line($stdin, 1024 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
