<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\MarkovTextGeneration;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Markov text generation" puzzle.
 * @link https://www.codingame.com/ide/puzzle/markov-text-generation
 */
class MarkovTextGeneration implements Puzzle
{
    public function execute($stdin): void
    {
        $t = stream_get_line($stdin, 1000 + 1, "\n");
        fscanf($stdin, "%d", $d);
        fscanf($stdin, "%d", $l);
        $s = stream_get_line($stdin, 1000 + 1, "\n");

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("fish is bad and\n");
    }
}
