fscanf($stdin, "%d %d", $starty, $startx);
fscanf($stdin, "%d %d", $endy, $endx);
fscanf($stdin, "%d %d", $h, $w);
for ($i = 0; $i < $h; $i++)
{
    fscanf($stdin, "%s", $line);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("answer\n");