<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\RockPaperScissorsWar;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Rock-paper-scissors war" puzzle.
 * @link https://www.codingame.com/ide/puzzle/rock-paper-scissors-war
 */
class RockPaperScissorsWar implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d %d %d", $w, $h, $n);
        for ($i = 0; $i < $h; $i++)
        {
            $line = stream_get_line($stdin, 100 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
