<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\IfThenElse;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "If then else" puzzle.
 * @link https://www.codingame.com/ide/puzzle/if-then-else
 */
class IfThenElse implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $line = stream_get_line($stdin, 127 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
