fscanf($stdin, "%d", $N);
fscanf($stdin, "%d", $V);
fscanf($stdin, "%d", $M);
for ($i = 0; $i < $M; $i++)
{
    fscanf($stdin, "%d %d %d", $P, $L, $R);
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("tree_path\n");