<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\BenfordsLaw;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Benford's law" puzzle.
 */
class BenfordsLaw implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $transaction = stream_get_line($stdin, 32 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("false\n");
    }
}
