<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Medium\RationalNumberTree;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Rational number tree" puzzle.
 * @link https://www.codingame.com/ide/puzzle/rational-number-tree
 */
class RationalNumberTree implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf(STDIN, "%d", $N);
        for ($i = 0; $i < $N; $i++)
        {
            $line = stream_get_line(STDIN, 2047 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("answer\n");
    }
}
