<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\IsTheKingInCheckPart1;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Is the king in check? (part 1)" puzzle.
 */
class IsTheKingInCheckPart1 implements Puzzle
{
    public function execute($stdin): void
    {
        for ($i = 0; $i < 8; $i++)
        {
            $chessRow = stream_get_line($stdin, 15 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("Check/No Check\n");
    }
}
