<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\SnailRun;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Snail run" puzzle.
 * @link https://www.codingame.com/ide/puzzle/snail-run
 */
class SnailRun implements Puzzle
{
    public function execute($stdin): void
    {
        fscanf($stdin, "%d", $numberSnails);
        for ($i = 0; $i < $numberSnails; $i++)
        {
            fscanf($stdin, "%d", $speedSnail);
        }
        fscanf($stdin, "%d", $mapHeight);
        fscanf($stdin, "%d", $mapWidth);
        for ($i = 0; $i < $mapHeight; $i++)
        {
            $ROW = stream_get_line($stdin, 1024 + 1, "\n");
        }

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n

        echo("winner is number\n");
    }
}
