fscanf($stdin, "%d", $H);
fscanf($stdin, "%d", $N);
for ($i = 0; $i < $N; $i++)
{
    $inputs = explode(" ", fgets($stdin));
    for ($j = 0; $j < $N; $j++)
    {
        $h = intval($inputs[$j]);
    }
}

// Write an answer using echo(). DON'T FORGET THE TRAILING \n

echo("ANSWER\n");