<?php

declare(strict_types=1);

namespace CyrilVerloop\Codingame\Community\Training\Easy\WalkOnADie;

use CyrilVerloop\Codingame\Puzzle;

/**
 * The "Walk on a die" puzzle.
 * @link https://www.codingame.com/ide/puzzle/walk-on-a-die
 */
class WalkOnADie implements Puzzle
{
    public function execute($stdin): void
    {
        for ($i = 0; $i < 3; $i++)
        {
            $line = stream_get_line($stdin, 6 + 1, "\n");// One line out of three in the string describing the starting position.
        }
        $commands = stream_get_line($stdin, 12 + 1, "\n");// The sequence of ULDR-characters describing the steps to perform.

        // Write an answer using echo(). DON'T FORGET THE TRAILING \n


        // The number on the side you end up on after having performed `commands`.
        echo("number\n");
    }
}
